$color-uno: #C1CCF7;
$color-dos: #F5F5F5;
$color-tres: #D9F672;
$color-cuatro: #F95E48;
$color-cinco: #264C3C;
$color-seis: #FCFAEF;
$color-siete: #7585E2;

$color-fuente-uno: #7585E2;
$color-fuente-dos: #000000;
$color-fuente-tres: #FCFAEF;
$color-fuente-cuatro: #DF6828;
$color-fuente-cinco: #C1CCF7;
